<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="registro-container">
    <h2>Registrar</h2>
    <ion-item>
      <ion-input  [(ngModel)]= "nome" placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  [(ngModel)]= "email" placeholder="E-mail" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input  [(ngModel)]= "password" placeholder="Senha" type="password"></ion-input>
    </ion-item>
    <ion-button (click) = "TryRegistro()" expand="full">Registrar</ion-button>
  </div>
</ion-content>
